{{define "formOLD"}}
<form hx-post="/submit" hx-target="#configs-table" hx-swap="innerHTML">
  <label for="targetURL">Target URL (required):</label><br />
  <input type="text" id="targetURL" name="targetURL" required /><br /><br />

  <label for="targetCPU">Target CPU Utilization % (optional, default 0):</label
  ><br />
  <input
    type="number"
    id="targetCPU"
    name="targetCPU"
    min="0"
    max="100"
  /><br /><br />

  <label for="qps">QPS (Queries Per Second, optional, default 1):</label><br />
  <input type="number" id="qps" name="qps" min="1" /><br /><br />

  <label for="duration">Duration in seconds (optional, default 1):</label><br />
  <input type="number" id="duration" name="duration" min="-1" /><br /><br />

  <input type="submit" value="Submit" />
</form>
{{end}}