@import url(//fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700);

* {
    font-family: 'Google Sans', Arial, sans-serif;
}

html {
    color: #202124;
    font-size: 12pt;
}

body,
html {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px auto;
    padding: 0px 20px;
    max-width: 1200px;
}

