name: Sync Files

on:
  push:
    paths:
      -'**/config/nix/standard.nix'

jobs:
  sync-files:
    runs-on: ubuntu-latest
    steps:
      - name: Use Sync Files Action
        uses: cloud-sky-ops/sync-files-multi-repo@v1
        with:
          github_token: ${{ secrets.API_TOKEN_GITHUB }}
          copy-from-directory: "config/nix"
          copy-to-directory: ".idx"
