apiVersion: v1
kind: Service
metadata:
  name: model-proxy-service
  annotations:
    cloud.google.com/neg: '{"exposed_ports": {"80":{"name": "model-proxy-neg"}}}'
spec:
  type: ClusterIP
  selector:
    app: open-webui
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
